h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  margin-top: 25%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer {
  font-size: 12px;
  text-align: center;
}

#inputFlag>img,
#outputFlag>img {
  height: 20px;
  width: auto;
}

input[type=number] {
  width: 100px;
}

#convertSymbol {
  font-size: 25px;
}

#convertForm {
  margin: 25px;
}

#inputForm {
  text-align: right;
}

#outputForm {
  text-align: left;
}

#convertSymbol {
  text-align: center;
  font-weight: bold;
}